<app-navbar></app-navbar>
<section>
  <div *ngIf="!hasVideos" class="alert alert-warning">
    No videos available. Please upload a video first.
  </div>
</section>
<section *ngIf="hasVideos" class="section">
  <div class="homepage">
    <div class="video-list">
      <div *ngFor="let video of videos" class="video-item">
        <div class="thumbnail-container" (click)="selectVideo(video)">
          <img [src]="getEmbedThumbnail(video.thumbnail_url)" alt="{{ video.title }}" class="thumbnail" />
        </div>
      </div>
    </div>
    <section class="video-player">
      <div *ngIf="selectedVideo">
        <div style="display: flex;">
          <h2 style="width: 792px;">Now Playing</h2>
          <div class="action-buttons">
            <button class="button btn-update" (click)="editVideo(selectedVideo)">Update</button>
            <button class="button btn-delete" (click)="deleteVideo(selectedVideo)">Delete</button>
          </div>
        </div>
        <iframe
          style="width: 1000px; height: 500px;"
          id="my-video"
          class="video-js"
          [src]="getEmbedUrl(selectedVideo.video_file_url)"
          width="1000"
          height="500"
          allow="autoplay; encrypted-media"
          frameborder="0">
        </iframe>
      </div>
    </section>
  </div>
</section>
