<app-navbar></app-navbar>
<div class="homepage">
  <h1>Video List</h1>

  <div class="video-list">
    <div *ngFor="let video of videos" class="video-item">
      <div class="thumbnail-container" (click)="selectVideo(video)">
        <img [src]="video.thumbnail_url" alt="{{ video.title }}" class="thumbnail" />
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" (click)="toggleDropdown(video)">
          ⋮ <!-- Three dot icon -->
        </button>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" (click)="editVideo(video)">Edit</a></li>
          <li><a class="dropdown-item text-danger" (click)="deleteVideo(video)">Delete</a></li>
        </ul>
      </div>
    </div>
  </div>
  <section class="video-player">
    <div *ngIf="selectedVideo">
      <h2>Now Playing</h2>
      <iframe
        *ngIf="selectedVideo" id="my-video" class="video-js"
        [src]="getEmbedUrl(selectedVideo.video_file_url)"
        width="940"
        height="980"
        allow="autoplay; encrypted-media"
        frameborder="0">
      </iframe>
    </div>
  </section>
</div>





